.title, .spec, img{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 207, 153);
    font-family: 'Racing Sans One', cursive;
    padding-bottom: 20px;
}

h1{
    font-size: 60px;
}

h2{
    margin-left: 100px;
    font-size: 30px;
    color: #AB2531;
}

.dispo {
    text-align: center;
}

img {
	width: 50%;
    height: 50%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.548);
    background: rgba(255, 255, 255, 0.363);
    margin-top: 20px;
}

.spec {
    color: white;
    font-size: 20px;
}